.nav-bar {
    background-color: #ededed;
}

.logo {
    font-size: 27px;
    margin-top: 25px;
    margin-left: 32px;
    color: #161615;
}

.menu-text {
    margin-top: 25px;
    margin-left: 32px;
    font-family: Arial;
    font-size: 11px;
    color: #000000;
    text-decoration: rgb(0, 0, 0);
}