.section-1 {

    height: 305px;
    background-color: #ebebeb;

}

.section-1-text {
    margin-top: 36px;
    height: 249px;
    font-family: Arial;
    font-size: 14px;
    color: #4a4a4a;
    text-decoration: rgb(74, 74, 74);
    line-height: 20px;
}
