
.carrousel {
    height: 522px;
    background-color: #dadada;
}

.text-carrousel {
    margin-top: 148px;
    margin-left: 363px;
    font-family: Arial;
    font-size: 48px;
    color: #000000;
    text-decoration: rgb(0, 0, 0);
}

.second-text-carrousel {
    margin-left: 403px;
    font-family: Arial;
    font-size: 48px;
    color: #000000;
    text-decoration: rgb(0, 0, 0);
}

.description-carrousel {
    width: 581px;
    height: 108px;
    font-family: Arial;
    font-size: 32px;
    color: #4a4a4a;
    text-decoration: rgb(74, 74, 74);
    line-height: 36px;
}